.active {
  color: green;
  font-weight: bold;
}
.active:hover {
  color: burlywood;
}

.selected {
  color: orange;
  font-weight: bold;
}

ul {
  display: flex;
  flex-wrap: wrap;
}
ul > li {
  list-style: none;
  padding: 5px;
}
